node_modules/
frontend/node_modules/
frontend/dist/

venv/
.venv/

infra/terraform/terraform.tfvars
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl

infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup